resources:
- manager.yaml
- clustermanagementaddon.yaml

apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: controller
  newName: quay.io/pdettori/ocm-status-addon
  newTag: "1709327314"

replacements:
- source:
    fieldPath: spec.template.spec.containers.[name=status-controller].image
    group: apps
    kind: Deployment
    name: status-controller
    version: v1
  targets:
  - fieldPaths:
    - spec.template.spec.containers.0.env.0.value
    select:
      group: apps
      kind: Deployment
      name: status-controller
      version: v1
