kind: Deployment
apiVersion: apps/v1
metadata:
  name: status-controller
  labels:
    control-plane: controller-manager
    app.kubernetes.io/name: deployment
    app.kubernetes.io/instance: controller-manager
    app.kubernetes.io/component: manager
    app.kubernetes.io/created-by: status-addon
    app.kubernetes.io/part-of: status-addon
    app.kubernetes.io/managed-by: kustomize
    app: status-controller
spec:
  replicas: 1
  selector:
    matchLabels:
      app: status-controller
  template:
    metadata:
      labels:
        app: status-controller
      annotations:
        profiles.grafana.com/cpu.port: "9282"
        profiles.grafana.com/cpu.scrape: "true"
        profiles.grafana.com/goroutine.port: "9282"
        profiles.grafana.com/goroutine.scrape: "true"
        profiles.grafana.com/memory.port: "9282"
        profiles.grafana.com/memory.scrape: "true"
    spec:
      securityContext:
        runAsNonRoot: true
      serviceAccountName: status-sa
      initContainers:
      - name: create-crd
        image: quay.io/kubestellar/kubectl:1.29.3
        command: ['sh', '-c']
        args:
        - |
          echo -n "Waiting for managedclusteraddons CRD"
          while ! kubectl get clustermanagementaddons.addon.open-cluster-management.io &> /dev/null ; do
            echo -n "."
            sleep 5
          done
          echo -e "\033[0;32m\xE2\x9C\x94\033[0m"
          echo "Creating addon-status object:"
          kubectl apply -f - <<EOF
          apiVersion: addon.open-cluster-management.io/v1alpha1
          kind: ClusterManagementAddOn
          metadata:
            name: addon-status
            namespace: open-cluster-management
            annotations:
              addon.open-cluster-management.io/lifecycle: addon-manager
          spec:
            addOnMeta:
              description: status addon provides full status on applied resources
              displayName: addon-status
            installStrategy:
              type: Placements
              placements:
              - name: global
                namespace: {{ .Release.Namespace }}
            supportedConfigs:
            - group: addon.open-cluster-management.io
              resource: addondeploymentconfigs
          EOF
      containers:
      - name: status-controller
        image: controller
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 9280
          protocol: TCP
          name: metrics
        - containerPort: 9282
          protocol: TCP
          name: debug-pprof
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - "ALL"
        resources:
          limits:
            cpu: 500m
            memory: 512Mi
          requests:
            cpu: 10m
            memory: 64Mi
        env:
        - name: STATUS_ADDDON_IMAGE_NAME
          value: replaced by kustomization.yaml
        args:
        - "controller"
        - --v={{.Values.controller.verbosity}}
        - "--agent-hub-burst={{.Values.agent.hub_burst}}"
        - "--agent-hub-qps={{.Values.agent.hub_qps}}"
        - "--agent-local-burst={{.Values.agent.local_burst}}"
        - "--agent-local-qps={{.Values.agent.local_qps}}"
        - "--agent-log-flush-frequency={{.Values.agent.log_flush_frequency}}"
        - "--agent-logging-format={{.Values.agent.logging_format}}"
        - "--agent-metrics-bind-addr={{.Values.agent.metrics_bind_addr}}"
        - "--agent-pprof-bind-addr={{.Values.agent.pprof_bind_addr}}"
        - "--agent-v={{.Values.agent.v}}"
        - "--agent-vmodule={{.Values.agent.vmodule}}"
