name: CI
on:
  pull_request:
    branches:
      - main
      - "release-*"

jobs:
  ci-checks:
    runs-on: ubuntu-latest
    name: CI Checks
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
        with:
          go-version: '1.24'
      - name: Lint
        run: go fmt ./...
      - name: Static analysis
        run: go vet ./...
      - name: Build
        run: go build -v ./...
      - name: Test
        run: go test -v ./...
