name: spellcheck
on:
  # So we can trigger manually if needed
  workflow_dispatch:
  push:
    branches:
      - main
      - "release-*"
    paths:
      - ".github/workflows/spellcheck_action.yaml"
      - ".github/spellcheck/.spellcheck.yml"
      - ".github/spellcheck/.wordlist.yml"

jobs:
  spellchecker:
    name: Spellcheck
    runs-on: ubuntu-latest
    steps:
    # The checkout step
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
    - uses: rojopolis/spellcheck-github-actions@6f2326b663e2dbab920da0fc4144b9f3202434ba
      name: Spellcheck
      with:
        config_path: .github/spellcheck/.spellcheck.yml # put path to configuration file here
        task_name: Markdown
#         source_files: docs/content/*
