name: E2E tests

on:
  workflow_call:
  # So we can trigger manually if needed
  workflow_dispatch:
  # To confirm any changes to docs build successfully, without deploying them
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
    tags:
      - 'v*'

jobs:
  test-workstatus-operations:
    name: Test workstatus operations
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5
        with:
          go-version: v1.24
          cache: true

      - name: Install kubectl
        uses: azure/setup-kubectl@776406bce94f63e41d621b960d78ee25c8b76ede
        id: install

      - name: Install and setup ko
        uses: ko-build/setup-ko@d006021bd0c28d1ce33a07e7943d48b079944c8d
        env:
          KO_DOCKER_REPO: ko.local

      - name: Install clusteradm
        run: |
          curl -L https://raw.githubusercontent.com/open-cluster-management-io/clusteradm/main/install.sh | bash

      - name: Run test
        run: |
          test/e2e/run.sh

      - name: Show docker images
        if: always()
        run: docker images

      - name: Show kubeconfig contexts
        if: always()
        run: kubectl config get-contexts

      - name: Show clustermanagementaddons
        if: always()
        run: kubectl --context kind-hub get clustermanagementaddons

      - name: Show managedclusteraddons
        if: always()
        run: kubectl --context kind-hub get managedclusteraddons -A

      - name: Show Deployment objects in hub
        if: always()
        run: |
          kubectl --context kind-hub get deploy -A
          echo $'\n================================================================\n'
          kubectl --context kind-hub get deploy -A -o yaml

      - name: Show Pod objects in the hub
        if: always()
        run: kubectl --context kind-hub get pods -A

      - name: Show controller log
        if: always()
        run: kubectl --context kind-hub logs -n open-cluster-management deployment/addon-status-controller

      - name: Show manifestworks in hub
        if: always()
        run: kubectl --context kind-hub get manifestwork -oyaml -A

      - name: Show agent
        if: always()
        run: kubectl --context kind-cluster1 get pods -n open-cluster-management-agent-addon -o yaml

      - name: Show workloads in cluster1
        if: always()
        run: kubectl --context kind-cluster1 get all -A

      - name: Show logs of the agent in cluster1
        if: always()
        run: kubectl --context kind-cluster1 -n open-cluster-management-agent-addon logs deployment.apps/status-agent

      - name: Show workstatus objects in hub
        if: always()
        run: kubectl --context kind-hub get workstatus -oyaml -A
